CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
BinaryTree/build/
HashTable/build/
List/build/
.DS_Store
BinaryTree/.DS_Store
HashTable/.DS_Store
List/build/.DS_Store
List/.vscode/
ProcessesBuffer/build/
ProcessesBuffer/.vscode/
ThreadsBuffer/build/
ThreadsBuffer/.vscode/
Queue/build
Queue/.vscode

